.message {
  color: #fffdfa;
  border-radius: 8px;
  width: 300px;
  padding: 10px 0 0 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.error {
  background-color: #ff0000; /* Cor de fundo vermelha para mensagens de erro */
}

.success {
  background-color: #00cc00; /* Cor de fundo verde para mensagens de sucesso */
}
