<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="title">
  <h1>Sua agenda pessoal!</h1>
  <h2>Seus contatos estão listados abaixo:</h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Número de celular</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Victor</td>
      <td>Guedes</td>
      <td>(17) 99163 4041</td>
      <td>sguedes.victor@gmail.com</td>
    </tr>
  </tbody>
</table>

<%- include('includes/messages') %>
<%- include('includes/footer') %>
